# Introduction to python

## Some simple statements

In [7]:
2+2

4

In [8]:
print("Hello World")

Hello World

## Variables, values and their types

In [11]:
text = "Data Carpentry"
number = 42
pi_value = 3.141592653589793238462643383279502884197

In [17]:
text

'Data Carpentry'

In [20]:
type(text)

str

In [21]:
number

42

In [22]:
type(number)

int

## Output versus printing
In this example we first print the number and then call the variable again:

In [23]:
print(number)
number

42

42

Now we do it the other way around:

In [25]:
number
print(number)

42

The interpreter does not output the value of the variable unless it is the very last line in an input field. In general `print` is the only way to print output to the screen when you are not working in an interactive environment as Jupyter, but when you are working with scripts.
Rule of thumb: use output for quick checking while developing your Jupyter notebook, use print for all output that needs to be there while running a Jupyter notebook.

In [28]:
summing = 2 + 2
multiply = 6 * 7
power = 2 ** 16
modulo = 13 % 5

print("Sum: ", summing)
print("Multiply: ", multiply)
print("Power: ", power)
print("Modulo: ", modulo)

Sum:  4
Multiply:  42
Power:  65536
Modulo:  3

## Operators

In [29]:
compare = 3 > 4
print("3 > 4 : ", compare)

3 > 4 :  False

In [31]:
True or False

True

In [32]:
True and False

False

In [33]:
True == compare

False

## The if-statement

## Lists and Tuples

## Dictionaries

## The for-loop

## Exercises
### Exercise 0
Try to run this code. Why is there no output?

In [37]:
x = 6
apple = "apple"

### Exercise 1
1. Calculate: One plus five divided by nine.
2. Assign the result of the calculation to a variable.
3. Test  if the result is larger than one.
4. Round off the result to one decimal. Use the function `round`.

In [38]:
s = (1+5)/9
round(s, 1)

0.7

### Exercise 2
Predict the results:

In [39]:
5==5
5==None
None==None

True

### Exercise 3
Meet Ann, Bob, Chloe, and Dan. 
1. Create a list with their names. Save the list as "name".

2.  How old are Ann, Bob, Chloe, and Dan? You decide! Design a numeric list with their respective ages. Save it as "age".

3.  What is their average age? (Use the function `sum` to sum up their cumulative ages, you can use `len(ages)` to get the number of elements in a list)

In [44]:
name = ["Ann", "Bob", "Chloe", "Dan"]
age = [3, 30, 41, 2]
sum(age)/len(age)

19.0

### Exercise 4
1.  Return only the first number in the list age.
2.  Return the 2nd and 4th name in your list name.
3.  Return only ages under 30 from your list age.
4.  Return the name "Chloe" from the list name.

In [52]:
age[0]
[age[1], age[3]]
[a for a in age if a < 30]
[n for n in name if n == "Chloe"] #or
name[name.index("Chloe")]

'Chloe'

### Exercise 5
Make an if statement that tests if a number is even, and saves the classification in a variable called number_class.

In [61]:
number = 5
if number%2 == 0:
    number_class = "even"
else:
    number_class = "odd"
print(number, "is", number_class)

5 is odd

### Exercise 6
Turn the if statement from the last exercise into a function. Let the user provide the value for number, and return the number_class.

In [63]:
def even_or_odd(number):
    if number%2 == 0:
        number_class = "even"
    else:
        number_class = "odd"
    return number_class

In [65]:
number = 5
print(number, "is", even_or_odd(number))

5 is odd