---
title: "Introduction to python"
execute:   
  enabled: true
  error: true
  freeze: auto
 ---

# Introduction to python

## Variables, values and their types

The cell below contains Python code that can be executed by the Python interpreter. One of the most basic things that we can do with Python is to use it as a calculator:

In [ ]:
2+2

Great, but there are many calculators. It gets more interesting when we use **variables** to store information. This is done with the `=` operator.
In Python, variable names:
- can include letters, digits, and underscores
- cannot start with a digit
- are case sensitive.

In [ ]:
x = 3.0

Once assigned, variables can be used in new operations:

In [ ]:
y = 2.0
x + y

Python knows various types of data. Three common ones are:

- integer numbers
- floating point numbers
- strings

In [ ]:
text = "Data Carpentry"
number = 42
pi_value = 3.14159265358

In the example above, three variables are assigned. Variable `number` is an integer value of 42 while `pi_value` is a floating point number and `text` is of type string.

Using the `type` command, it is possible to check the data type of a variable.

In [ ]:
text

In [ ]:
type(text)

In [ ]:
number

In [ ]:
type(number)

In [ ]:
pi_value

In [ ]:
type(pi_value)

## Output versus printing

In the above examples, most of the times output is printed directly below the cell, but not always the output is printed and not all operations are printed. The `print` command can be used to control what is printed when. 

*Note*, that text (strings) always have to be surrounded by `"` or `'`.

In [ ]:
print("Hello World")

In the example below we first print the value of the variable `number` using the `print` command, and then call the variable:

In [ ]:
print(number)
number

Now we do it the other way around:

In [ ]:
number
print(number)

When not using the `print` command, only the output of the last operation in the input cell is printed. If the last operation is the assignment of a variable, nothing will be printed. 

In general `print` is the only way to print output to the screen when you are not working in an interactive environment as Jupyter (as we are doing now).

Rule of thumb: use the normal output for quick checking the output of an operation while developing in your Jupyter notebook, use `print` for printing output that still needs to be there in the future while your scripts get more complicated.

## Mathematical operations

In Python you can do a wide variety of mathematical operations. A few examples:

In [1]:
summing = 2 + 2
multiply = 2 * 7
power = 2 ** 16
modulo = 13 % 5

print("Sum: ", summing)
print("Multiply: ", multiply)
print("Power: ", power)
print("Modulo: ", modulo)

Sum:  4
Multiply:  14
Power:  65536
Modulo:  3

Once we have data stored in variables, we can use the variables to do calculations.

In [27]:
number = 42
pi_value = 3.14159265358

output = number * pi_value
print(output)

131.94689145036

## Built-in Python functions
To carry out common tasks with data and variables in Python, the language provides us with several built-in functions. Examples of built-in functions that we already used above are `print` and `type`. 

**Calling a function** 
When we want to make use of a function (referred to as calling the function), we type the name of the function followed by parentheses. Between the parentheses we can pass arguments.

**Arguments**
We typically provide a function with 'arguments' to tell python which values or variables are used to perform the body of the function. In the example below `type` is the function name and `pi_value` is the argument.

In [ ]:
type(pi_value)

Other useful built-in functions are `abs()`, `max()`, `min()`, `range()`. Find more built-in functions [here](https://docs.python.org/3/library/functions.html).

In [14]:
max([1,2,3,2,1])

3

## Logical values and operators

In programming you often need to know if something is `True` or `False`. `True` and `False` are called Boolean values and have their own data type (`bool` so they are not of type `str`!!). `True` and `False` are the only two Boolean values.

In [35]:
a = True
a

True

In [ ]:
b = False
b

In [2]:
type(a)

bool

With the logical operators `>`, `<`, `==`, `and`, `or` and  `not` we can 'ask' if something is `True` or `False`. Why this is useful we will show later (see if-statements).

In [16]:
3 > 4

False

`3 > 4` is an example of a 'logical statement'.

In [17]:
4 > 3

True

`==` is used to check if two values or variable are the same. If this is the case it will return `True`

In [21]:
four = 4          # first we create a variable
four == 4         # then we check if it is equal to 4

True

`!=` is used to check if two values or variable are **not** the same. If this is the case it will return `True`

In [33]:
print("Four is not equal to 5: ", four != 5)
print("Four is not equal to 4: ", four != 4)

Four is not equal to 5:  True
Four is not equal to 4:  False

`and` is used to check if two logical statements are both `True`. If this is the case it will return `True`

In [36]:
a = True
b = True
a and b

True

In [37]:
a = True
b = False
a and b

False

In [22]:
4 > 3 and 9 > 3

True

`or` is used to check if either one (or both) of two logical statements are `True`. If this is the case it will return `True`.

In [24]:
3 > 4 or 9 > 3

True

In [25]:
4 > 3 or 9 > 3

True

In [29]:
greater = 3 > 4
print("3 > 4 : ", greater)

3 > 4 :  False

## The if-statement

If statements can be used to perform tasks only when a certain condition is met.

In [ ]:
num = 101

if num > 100:
    print('number is greater than 100')

It is possible to specify a task that is performed when the condition is not met using `else`

In [39]:
num = 37

if num > 100:
    print('number is greater than 100')
else:
    print('number is not greater than 100')

print('done')

number is not greater than 100
done

An `if ... else` statement can be extended with `elif` to specify more tasks that need to be performed on other conditions. These extended `if ... else` statements always start with `if` and end with `else`. 

**Order matters**:
The statements (or conditions) are checked in order from top to bottom and only the task belonging to the first condition that is met is being performed.

In [40]:
num = -3

if num > 0:
    print(num, 'is positive')
elif num == 0:
    print(num, 'is zero')
else:
    print(num, 'is negative')

-3 is negative

Along with the `>` and `==` operators that we have already used for comparing values in our logical statements above, there are a few more options to know about:

- \>: greater than
- \<: less than
- ==: equal to
- !=: does not equal
- \>=: greater than or equal to
- \<=: less than or equal to

We can also combine logical statements using `and` and `or`.

In [ ]:
if (1 < 0) or (1 >= 0):
    print('at least one the above logical statements is true')

While `and` is only true if both parts are true

In [42]:
if (1 < 0) and (1 >= 0):
    print('both tests are true')
else:
    print('at least one of both tests is not true')

at least one of both tests is not true

## Lists and Tuples
Lists are a common data structure to hold an ordered sequence of elements. We create a list by putting values inside square brackets and separating the values with commas. Each element can be accessed by an index. Note that Python indexes start with 0 instead of 1:

In [ ]:
numbers = [1, 2, 3]
print(numbers)
print("The first element in the list is: ", numbers[0])

In [ ]:
type(numbers)

In [ ]:
len(numbers)

In [ ]:
numbers[3]

In [ ]:
numbers[-1]

Yes, we can use negative numbers as indices in Python. When we do so, the index -1 gives us the last element in the list, -2 the second to last, and so on. Because of this, numbers[3] and numbers[-1] point to the same element here.

In [ ]:
numbers[2] == numbers[-1]

In [ ]:
words = ["cat", "dog", "horse"]
words[1]

In [ ]:
type(words)

In [ ]:
if type(words) == type(numbers):
    print("these variables have the same type!")

In [ ]:
newlist = ["cat", 1, "horse"]

In [ ]:
type(newlist[0])

In [ ]:
type(newlist[1])

In [ ]:
numbers.append(4)
print(numbers)

In [ ]:
numbers[2] = 333
print(numbers)

There is one important difference between lists and strings: we can change the values in a list, but we cannot change individual characters in a string. For example:

In [ ]:
word = "Cat"
print(word[0])
word[0] = c

A tuple is similar to a list in that it’s an ordered sequence of elements. However, tuples can not be changed once created (they are “immutable”). Tuples are created by placing comma-separated values inside parentheses `()`.

In [ ]:
# Tuples use parentheses
a_tuple = (1, 2, 3)
another_tuple = ('blue', 'green', 'red')

# Note: lists use square brackets
a_list = [1, 2, 3]

In [ ]:
a_list[1] = 5
print(a_list)

In [ ]:
a_tuple[2] = 5
print(a_tuple)

Here we see that once the tuple is created, we cannot replace any of the values inside of the tuple.

In [ ]:
type(a_tuple)

## Dictionaries
A dictionary is a container that holds pairs of objects - keys and values.

In [ ]:
my_dict = {'one': 'first', 'two': 'second'}
my_dict

We can access dictionary items by their key:

In [ ]:
my_dict['one']

And we can add new key-value pairs like that:

In [ ]:
my_dict['third'] = 'three'
my_dict

Dictionary items are ordered, changeable, and do not allow duplicates.
Dictionary items are presented in key:value pairs.

In [ ]:
my_dict['third'] = 'three'
my_dict

In [ ]:
print("Dictionary keys: ", my_dict.keys())
print("Dictionary values: ", my_dict.values())
print("Dictionary items (key, value): ", my_dict.items())

## For loops
Let's have a look at our list again. One way to print each number is to use three print statements:

In [ ]:
numbers = [5, 6, 7]
print(numbers[0])
print(numbers[1])
print(numbers[2])

A better and more reliable way to print each element of a list is to loop over the list:

In [ ]:
for item in numbers:
    print(item)

The improved version uses a for loop to repeat an operation — in this case, printing — once for each thing in a sequence.
If we want to also get the index, we can use the built-in function enumerate:

In [ ]:
words = ["cat", "dog", "horse"]

for index, item in enumerate(words):
    print(index)
    print(item)

Let's take our dictionary from the previous section and inspect the dictionary items

In [ ]:
for item in my_dict.items():
    print(item, "is of type", type(item))

We can extract the keys and values from the items directly in the `for` statement:

In [ ]:
for key, value in my_dict.items():
    print(key, "->", value)

## Functions
We have already seen two built-in functions: `print`, `type`, `len`. And we have seen special functions that belong to a variable (python object) like `my_dict.items()`. There are more built-in functions e.g. for mathematical operations:

In [ ]:
sum(numbers)

Please refer to https://docs.python.org/3/library/functions.html for more built-in functions.

### Writing own functions
We will now turn to writing own functions. When should you write your own function?
1. If the functionality is not covered by an out-of-the-box function like the built-in functions or another python  package
2. When code is getting pretty long, you can split it up into logical units
3. When code is often reused, e.g. you are reading in tens of spreadsheets and you need to clean them all in the same way
4. ...
Python provides for this by letting us define things called ‘functions’ — a shorthand way of re-executing longer pieces of code. Let’s start by defining a function fahr_to_celsius that converts temperatures from Fahrenheit to Celsius:

In [ ]:
def fahr_to_celsius(temp):
    return ((temp - 32) * (5/9))

The function definition opens with the keyword `def` followed by the name of the function (fahr_to_celsius) and a parenthesized list of parameter names (temp). The body of the function — the statements that are executed when it runs — is indented below the definition line. The body concludes with a `return` keyword followed by the return value.

When we call the function, the values we pass to it are assigned to those variables so that we can use them inside the function. Inside the function, we use a return statement to send a result back to whoever asked for it.

Let’s try running our function.

In [ ]:
fahr_to_celsius(98)

In [ ]:
print('freezing point of water:', fahr_to_celsius(32), 'C')
print('boiling point of water:', fahr_to_celsius(212), 'C')

Here we directly opassed a value to the function. We can also call the function with a variable:

In [ ]:
a = 0
print(fahr_to_celsius(a))

What happens if you pass a variable name that is not defined yet?

In [ ]:
print(fahr_to_celsius(b))