# Introduction to python

## Some simple statements
We are working interactively with the python interpreter. Here you see that you can use it simply as a calculator

In [ ]:
2+2

We can also print text to the screen. *Note*, that text (strings) alsways have to be surrounded by `"` or `'`.

In [ ]:
print("Hello World")

## Variables, values and their types
To keep the information we want to work with, we can assign values to variables. This is done with the `=` operator.
In Python, variable names:
- can include letters, digits, and underscores
- cannot start with a digit
- are case sensitive.

In [ ]:
text = "Data Carpentry"
number = 42
pi_value = 3.141592653589793238462643383279502884197

Python knows various types of data. Three common ones are:

- integer numbers
- floating point numbers, and
- strings.

In the example above, variable number an integer value of 42 while pi_value is a floating point number and text is of type string (str).

In [ ]:
text

In [ ]:
type(text)

In [ ]:
number

In [ ]:
type(number)

In [ ]:
pi_value

In [ ]:
type(pi_value)

You can see that float is not precise enough to capture all of the digits after the dot we gave it. It stops at 15 positions.

## Output versus printing
In this example we first print the number and then call the variable again:

In [ ]:
print(number)
number

Now we do it the other way around:

In [ ]:
number
print(number)

The interpreter does not output the value of the variable unless it is the very last line in an input field. In general `print` is the only way to print output to the screen when you are not working in an interactive environment as Jupyter, but when you are working with scripts.
Rule of thumb: use output for quick checking while developing your Jupyter notebook, use print for all output that needs to be there while running a Jupyter notebook.

## Mathematical operations

In [ ]:
summing = 2 + 2
multiply = 2 * 7
power = 2 ** 16
modulo = 13 % 5

print("Sum: ", summing)
print("Multiply: ", multiply)
print("Power: ", power)
print("Modulo: ", modulo)

Once we have data stored with variable names, we can make use of it in calculations.

In [ ]:
output = number * pi_value
print(output)

## Logical values, operators and variables
There are two logical values, *true* and *false*. Inpython they are decoded as the values `True` and `False`. Note: here these two are really distinct values and no strings!

In [ ]:
True

In [ ]:
False

With the logical operators `>`, `<`, `==`, `and`, `or` and  `not` we can now compare variables and create logical statements.

In [ ]:
compare = 3 > 4
print("3 > 4 : ", compare)

In [ ]:
not_compare = not compare
print("not(3 > 4): ", not_compare)

In [ ]:
compare or not_compare

In [ ]:
compare and not_compare

In [ ]:
True or False

In [ ]:
True and False

In [ ]:
True == compare

## Built-in Python functions
To carry out common tasks with data and variables in Python, the language provides us with several built-in functions. To display information to the screen, we use the print function:

In [ ]:
print(pi_value)

When we want to make use of a function, referred to as calling the function, we follow its name by parentheses. The parentheses are important: if you leave them off, the function doesn’t actually run! Sometimes you will include values or variables inside the parentheses for the function to use. In the case of print, we use the parentheses to tell the function what value we want to display. We will learn more about how functions work and how to create our own in later episodes.

We can display multiple things at once using only one print call:

In [ ]:
compare = 3 > 4
print("3 > 4 : ", compare)
print(number, "times", pi_value, "equals", number * pi_value)

## The if-statement
We  saw how to create logical statements. In the if-clause we use these as conditional statements to carry some tasks.

In [ ]:
num = 37
if num > 100:
    print('greater')
else:
    print('not greater')
print('done')

In [ ]:
num = -3

if num > 0:
    print(num, 'is positive')
elif num == 0:
    print(num, 'is zero')
else:
    print(num, 'is negative')

Along with the > and == operators we have already used for comparing values in our conditionals, there are a few more options to know about:

- \>: greater than
- \<: less than
- ==: equal to
- !=: does not equal
- \>=: greater than or equal to
- \<=: less than or equal to

We can also combine tests using `and` and `or`. `or` is  true if one part is true:

In [ ]:
if (1 < 0) or (1 >= 0):
    print('at least one test is true')

While `and` is only true if both parts are true

In [ ]:
if (1 < 0) and (1 >= 0):
    print('both tests are true')

## Lists and Tuples
Lists are a common data structure to hold an ordered sequence of elements. We create a list by putting values inside square brackets and separating the values with commas. Each element can be accessed by an index. Note that Python indexes start with 0 instead of 1:

In [ ]:
numbers = [1, 2, 3]
print(numbers)
print("The first element in the list is: ", numbers[0])

In [ ]:
type(numbers)

In [ ]:
len(numbers)

In [ ]:
numbers[3]

In [ ]:
numbers[-1]

Yes, we can use negative numbers as indices in Python. When we do so, the index -1 gives us the last element in the list, -2 the second to last, and so on. Because of this, numbers[3] and numbers[-1] point to the same element here.

In [ ]:
numbers[2] == numbers[-1]

In [ ]:
words = ["cat", "dog", "horse"]
words[1]

In [ ]:
type(words)

In [ ]:
if type(words) == type(numbers):
    print("these variables have the same type!")

In [ ]:
newlist = ["cat", 1, "horse"]

In [ ]:
type(newlist[0])

In [ ]:
type(newlist[1])

In [ ]:
numbers.append(4)
print(numbers)

In [ ]:
numbers[2] = 333
print(numbers)

There is one important difference between lists and strings: we can change the values in a list, but we cannot change individual characters in a string. For example:

In [ ]:
word = "Cat"
print(word[0])
word[0] = c

A tuple is similar to a list in that it’s an ordered sequence of elements. However, tuples can not be changed once created (they are “immutable”). Tuples are created by placing comma-separated values inside parentheses `()`.

In [ ]:
# Tuples use parentheses
a_tuple = (1, 2, 3)
another_tuple = ('blue', 'green', 'red')

# Note: lists use square brackets
a_list = [1, 2, 3]

In [ ]:
a_list[1] = 5
print(a_list)

In [ ]:
a_tuple[2] = 5
print(a_tuple)

Here we see that once the tuple is created, we cannot replace any of the values inside of the tuple.

In [ ]:
type(a_tuple)

## Dictionaries
A dictionary is a container that holds pairs of objects - keys and values.

In [31]:
my_dict = {'one': 'first', 'two': 'second'}
my_dict

{'one': 'first', 'two': 'second'}

We can access dictionary items by their key:

In [32]:
my_dict['one']

'first'

And we can add new key-value pairs like that:

In [33]:
my_dict['third'] = 'three'
my_dict

{'one': 'first', 'two': 'second', 'third': 'three'}

Dictionary items are ordered, changeable, and do not allow duplicates.
Dictionary items are presented in key:value pairs.

In [35]:
my_dict['third'] = 'three'
my_dict

{'one': 'first', 'two': 'second', 'third': 'three'}

In [39]:
print("Dictionary keys: ", my_dict.keys())
print("Dictionary values: ", my_dict.values())
print("Dictionary items (key, value): ", my_dict.items())

Dictionary keys:  dict_keys(['one', 'two', 'third'])
Dictionary values:  dict_values(['first', 'second', 'three'])
Dictionary items (key, value):  dict_items([('one', 'first'), ('two', 'second'), ('third', 'three')])

## For loops
Let's have a look at our list again. One way to print each number is to use three print statements:

In [ ]:
numbers = [5, 6, 7]
print(numbers[0])
print(numbers[1])
print(numbers[2])

A better and more reliable way to print each element of a list is to loop over the list:

In [ ]:
for item in numbers:
    print(item)

The improved version uses a for loop to repeat an operation — in this case, printing — once for each thing in a sequence.
If we want to also get the index, we can use the built-in function enumerate:

In [49]:
words = ["cat", "dog", "horse"]

for index, item in enumerate(words):
    print(index)
    print(item)

Let's take our dictionary from the previous section and inspect the dictionary items

In [42]:
for item in my_dict.items():
    print(item, "is of type", type(item))

('one', 'first') is of type <class 'tuple'>
('two', 'second') is of type <class 'tuple'>
('third', 'three') is of type <class 'tuple'>

We can extract the keys and values from the items directly in the `for` statement:

In [43]:
for key, value in my_dict.items():
    print(key, "->", value)

one -> first
two -> second
third -> three

## Functions
We have already seen two built-in functions: `print`, `type`, `len`. And we have seen special functions that belong to a variable (python object) like `my_dict.items()`. There are more built-in functions e.g. for mathematical operations:

In [ ]:
sum(numbers)

Please refer to https://docs.python.org/3/library/functions.html for more built-in functions.

### Writing own functions
We will now turn to writing own functions. When should you write your own function?
1. If the functionality is not covered by an out-of-the-box function like the built-in functions or another python  package
2. When code is getting pretty long, you can split it up into logical units
3. When code is often reused, e.g. you are reading in tens of spreadsheets and you need to clean them all in the same way
4. ...
Python provides for this by letting us define things called ‘functions’ — a shorthand way of re-executing longer pieces of code. Let’s start by defining a function fahr_to_celsius that converts temperatures from Fahrenheit to Celsius:

In [ ]:
def fahr_to_celsius(temp):
    return ((temp - 32) * (5/9))

The function definition opens with the keyword `def` followed by the name of the function (fahr_to_celsius) and a parenthesized list of parameter names (temp). The body of the function — the statements that are executed when it runs — is indented below the definition line. The body concludes with a `return` keyword followed by the return value.

When we call the function, the values we pass to it are assigned to those variables so that we can use them inside the function. Inside the function, we use a return statement to send a result back to whoever asked for it.

Let’s try running our function.

In [ ]:
fahr_to_celsius(98)

In [ ]:
print('freezing point of water:', fahr_to_celsius(32), 'C')
print('boiling point of water:', fahr_to_celsius(212), 'C')

Here we directly opassed a value to the function. We can also call the function with a variable:

In [ ]:
a = 0
print(fahr_to_celsius(a))

What happens if you pass a variable name that is not defined yet?

In [ ]:
print(fahr_to_celsius(b))